.time-static{
     background: none !important;
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 45px;
        height: 100%;
        background: none;
        box-shadow: none !important;
        border:none !important;
        padding: 0 !important;

        .time-block-static {
            display: flex;
            flex-direction: column;
            align-items: center;
            
    
            .time-number-static {
                font-size: 48px;
                font-weight: 400;
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                min-width: 100px;
                margin-top: 0px;
                border: 1px solid #dce9fa;

                .time_text-static{
                    background: linear-gradient(135deg, #2563eb, #9333ea);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                
            }
            
            .time-label-static {
                font-size: 16px;
                color: #000000;
                margin-top: 10px;
                font-weight: 500;
                font-family: 'Courier New', Courier, monospace;
            }
            
            
            
            
        }
        p{
            font-size: 50px !important;
            color: #abb4c0;
           
        }
    }
  
    
}